.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 70px;
  width: 700px;
  border-bottom: 1px solid #ffffff;
  gap: 20px;
  border: 1px solid lightgray;
}

.chat-image-section {
  width: 10%;
  /* flex: 1; */
}

.chat-image {
  height: 70px;
  object-fit: contain;
  border-radius: 100%;
}

.chat-details {
  width: 50%;
}

.chat-details-message {
  color: gray;
}

.chat-timestamp {
  width: 20%;
  color: lightgray;
}
