$primary-color: #f21170;
$card-alive: linear-gradient(#cb356b, #0575e6);
$card-unkdown: linear-gradient(to left, #eb5757, #000000);
$card-dead: linear-gradient(to left, #141e30, #a43931);

$breakpoint-mobileLarge: 425px;
$breakpoint-tablet: 768px;
$breakpoint-leptop: 1024px;
$breakpoint-leptopLarge: 1440px;
$breakpoint-4k: 2560px;
