:root {
  --card-alive: linear-gradient(#cb356b, #0575e6);
  --card-unkdown: linear-gradient(to left, #eb5757, #000000);
  --card-dead: linear-gradient(to left, #159957, #155799);
  --card-deade: gray;
}

.cardDetail {
  margin: 5% 20%;
  border: 5px solid #f21170;
  display: flex;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  background: var(--card-dead);
  color: white;

  background: linear-gradient(
    -45deg,
    /* #ee7752, */ /* #f395b9, */ #23a6d5,
    #23d5ab
  );
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cardDetail-image-section {
  flex: 40%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
}

.cardDetail-descriptions-container {
  flex: 50%;
}

.cardDetail-description {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.cardDetail-description-title {
  width: 20%;
}

.cardDetail-description-value {
  color: #f21170;
  font-weight: bold;
}

.cardDetail-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: 1px solid lightgray;
}

.card-button-icon {
  /* color: white ; */
}

.card-button-icon-active {
  color: #f21170 !important;
}
