/* .cards-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 50px;
}

.pagination {
    margin: 30px;
}

@media (min-width: 320px) {
    .cards-container {
        grid-template-columns: auto;
    }
}
@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: auto auto;
        gap: 20px;
    }
}
@media (min-width: 1024px) {
    .cards-container {
        grid-template-columns: auto auto auto;
        gap: 20px;
    }
    .pagination {
        margin: 30px;
        gap: 3px;
    }
}
@media (min-width: 1440px) {
    .cards-container {
        grid-template-columns: auto auto auto auto;
    }
}
@media (min-width: 2560px) {
    .cards-container {
        grid-template-columns: auto auto auto auto auto;
    }
} */
