/* .login {
  background-image: url("../../assets/images/loginBackground.png");
  background-color: #262c3a;
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-position: fixed;
  min-height: 100vh;
  z-index: 0;
  border: 1px solid green;
}

.login-section {
  position: relative;
  width: 60%;
  margin-left: 5%;
  margin-top: 5%;
}

.login-section-title {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  left: 0;
  right: 0;
  font-family: cursive;
  font-size: 3em;
}

.login-section-informations {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px;
}

.login-section-informations-input {
  display: flex;
  flex-direction: column;
}

.login-section-informations-input input {
  height: 1.3em;
  font-size: 1.3em;
  border-radius: 10px;
  padding: 1px;
}

.login-section-informations-input input:focus {
  height: 1.3em;
  font-size: 1.3em;
  border-radius: 10px;
  border: 5px solid red;
  padding: 1px;
}

.login-section-informations-name {
  align-items: center;
  margin: auto auto;
}

.login-section-informations-button {
  color: lightslategray;
  padding: 10px;
  background-color: transparent;
  border: 1px solid lightslategray;
  border-radius: 10px;
}

.button {
  margin: 10px 50px;
}

.button:hover {
  border: 1px solid black;
  font-weight: bold;
  color: black;
}

.login-section-informations > p {
  margin: 0 15px;
} */
